<!-- component -->
<section class="h-screen flex flex-col overflow-y-auto pb-12 bg-gradient-to-b from-[rgba(51,65,85)] via-[rgba(51,65,85,0.56)] to-[#F7FAFC] ">
    <div class="items-center px-8 mx-auto max-w-7xl lg:px-16 md:px-12">
      <div class="justify-center w-full text-center lg:p-10 max-auto">
        <div class="justify-center w-full mx-auto">




          <p class="sm:mt-8 mt-3 sm:px-44 text-[#10172A] text-4xl sm:text-6xl font-light tracking-tighter">
           "La lucha es larga... comencemos ya"
          </p>
          <img src="https://i.postimg.cc/HsKFd6y1/camilos.png" alt="Camilo" class=" h-96 w-72 mx-auto">
        </div>
      </div>
  
    </div>

</section>
