<!-- component -->
<!-- This is an example component -->
<div class="max-w-max mx-auto">

	<div class="flexbox shadow-md py-6">
		<div class="p-4">
			<label for="table-search" class="sr-only">Search</label>
			<div class="relative mt-1">
				<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
					<svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20"
						xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd"
							d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
							clip-rule="evenodd"></path>
					</svg>
				</div>
				<input type="text" id="table-search"
					class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-80 pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
					placeholder="Buscar por título" (input)="onSearch($event)">
			</div>
		</div>
		@if (isAdmin) {
		<div class="max-h-52 overflow-y-auto"> <!-- Contenedor con altura fija -->
			<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
				<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
					<tr>
						<th scope="col" class="px-6 py-3">
							ID
						</th>
						<th scope="col" class="px-6 py-3">
							Título
						</th>
						<th scope="col" class="px-6 py-3">
							ISBN
						</th>
						<th scope="col" class="px-6 py-3">
							Editorial
						</th>
						<th scope="col" class="px-6 py-3">
							Publicación
						</th>
						<th scope="col" class="px-6 py-3">
							Páginas
						</th>
						<th scope="col" class="px-6 py-3">
							Categoría
						</th>
						<th scope="col" class="px-6 py-3">
							Disponibilidad
						</th>
						<th scope="col" class="px-6 py-3">
							Acción
						</th>

					</tr>
				</thead>
				<tbody>
					@for (book of books; track $index) {
					<tr
						class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
						<td class="px-6 py-4">{{book.id}}</td>
						<td class="px-6 py-4">{{book.title}}</td>
						<td class="px-6 py-4">{{book.isbn}}</td>
						<td class="px-6 py-4">{{book.publisher}}</td>
						<td class="px-6 py-4">{{book.year_publication}}</td>
						<td class="px-6 py-4">{{book.num_pages}}</td>
						<td class="px-6 py-4">{{book.category}}</td>
						<td class="px-6 py-4 text-center">{{book.available}}</td>
						<td class="px-6 py-3 text-center inline-flex">
							<button (click)="deleteBook(book.id)" aria-label="Delete" title="Delete"
								class="inline-flex items-center justify-center p-2 text-red-500 hover:bg-red-100 rounded">
								<!-- Tu ícono SVG aquí -->
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
									stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
									<path stroke-linecap="round" stroke-linejoin="round"
										d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
								</svg>
							</button>
						</td>

					</tr>
					}
				</tbody>
			</table>
		</div>
		} @else {
		<div class="max-h-96 overflow-y-auto"> <!-- Contenedor con altura fija -->
			<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
				<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
					<tr>
						<th scope="col" class="px-6 py-3">
							Título
						</th>
						<th scope="col" class="px-6 py-3">
							ISBN
						</th>
						<th scope="col" class="px-6 py-3">
							Editorial
						</th>
						<th scope="col" class="px-6 py-3">
							Publicación
						</th>
						<th scope="col" class="px-6 py-3">
							Páginas
						</th>
						<th scope="col" class="px-6 py-3">
							Categoría
						</th>
						<th scope="col" class="px-6 py-3">
							Disponibilidad
						</th>

					</tr>
				</thead>
				<tbody>
					@for (book of books; track $index) {
					<tr
						class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
						<td class="px-6 py-4">{{book.title}}</td>
						<td class="px-6 py-4">{{book.isbn}}</td>
						<td class="px-6 py-4">{{book.publisher}}</td>
						<td class="px-6 py-4">{{book.year_publication}}</td>
						<td class="px-6 py-4">{{book.num_pages}}</td>
						<td class="px-6 py-4">{{book.category}}</td>
						<td class="px-6 py-4 text-center">{{book.available}}</td>
						@if (isAdmin) {
						<td class="px-6 py-3 inline-flex space-x-3">
							<a x-data="{ tooltip: 'Delete' }" href="#">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
									stroke-width="1.5" stroke="currentColor" class="h-6 w-6" x-tooltip="tooltip">
									<path stroke-linecap="round" stroke-linejoin="round"
										d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
								</svg>
							</a>
							<a x-data="{ tooltip: 'Edit' }" href="#">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
									stroke-width="1.5" stroke="currentColor" class="h-6 w-6" x-tooltip="tooltip">
									<path stroke-linecap="round" stroke-linejoin="round"
										d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
								</svg>
							</a>
						</td>
						}
					</tr>
					}
				</tbody>
			</table>
		</div>
		}
	</div>
	<div class="flex justify-center mt-4">
		<button (click)="getAllBooks()"
			class="bg-slate-500 hover:bg-slate-600 text-white font-bold py-2 px-4 rounded">Listar</button>
	</div>
</div>

@if (isAdmin) {
<!-- component -->
<!-- This is an example component -->
<div class="max-w-max mx-auto">
	<div class="flexbox shadow-md py-3">
		<h1 class="text-3xl text-center text-slate-900 py-3">Dashboard Admin</h1>
		<form [formGroup]="registerForm" (ngSubmit)="saveBook(registerForm.value)">
			<div class="flex flex-row p-3 mb-2">
				<input type="text" formControlName="title" placeholder="Título"
					class="block border border-grey-light w-full p-1 rounded mb-4">
				<input type="text" formControlName="isbn" placeholder="ISBN"
					class="block border border-grey-light w-full p-3 rounded mb-4">
				<input type="text" formControlName="publisher" placeholder="Editorial"
					class="block border border-grey-light w-full p-3 rounded mb-4">
				<input type="text" formControlName="year_publication" placeholder="Publicación"
					class="block border border-grey-light w-full p-3 rounded mb-4">
				<input type="number" min="1" formControlName="num_pages" placeholder="Páginas"
					class="block border border-grey-light w-full p-3 rounded mb-4">
				<input type="text" formControlName="category" placeholder="Categoría"
					class="block border border-grey-light w-full p-3 rounded mb-4">
				<input type="number" min="1" formControlName="available" placeholder="Disponibilidad"
					class="block border border-grey-light w-full p-3 rounded mb-4">
				<button type="submit"
					class="block border bg-slate-600  text-white hover:bg-slate-700 border-grey-light w-min p-3 rounded mb-4">Guardar</button>
			</div>
		</form>
	</div>
</div>
}